body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #202124;
}

.center {
    text-align: center;
}

header {
    background-color: orange;
    margin: 0;
    position: fixed;
    width: 100%;
    padding: 1em;
    margin-bottom: 100%;
    top: 0;
    color: white;
    text-shadow: 2px 2px black;
}

header h1 {
    margin: 0;
}

main {
    margin: 91px auto 15px;
    width: calc(100% - 2em);
    max-width: 720px;
}

main img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

main>* {
    margin-top: 16px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: white;
}

main div {
    padding: 1em;
}

h2 {
    color: black;
    text-shadow: 2px 2px orange;
    text-align: center;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
}

.button {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    display: block;
    width: calc(100% - 6em);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: darkorange;
    transition: 0.5s ease-out;
}

label {
    font-weight: bold;
}

input {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    width: calc(100% - 2em - 2px);
}

select {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 1em;
    width: 100%;
}

.loginout {
    color: white;
    position: fixed;
    right: 1em;
    top: 1.5em;
    text-shadow: none;
    text-decoration: underline;
    cursor: pointer;
}

.errormessage {
    color: red;
    text-align: center;
}
